ALLOWED_ORIGINS=["https://frontend-red-phi-0lx8thop0d.vercel.app/"]
PORT=


#ADMIN
JWT_SECRET=
ADMIN_EMAIL=
token_decode=
ADMIN_EMAIL=
ADMIN_PASSWORD=

#PAYMENT
STRIPE_SECRET_KEY=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

#JWT
JWT_SECRET=
JWT_SECRET=

#PAYMENT
CURRENCY=
CURRENCY=